.hero{
    height: 75vh;
    width: 100%;
    overflow: hidden;
    background-image: url('storage/image/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20% ;
}
.block-reg-auth{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}
.title-reg-auth{
    text-align: center;
    margin-top: 200px;
}
.profile_image{
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}